name: 构建 Windows Vulkan

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "发布标签 (例如 v1.0.0)"
        required: false
        type: string

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: 检出代码仓库
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: 安装 Vulkan SDK
        shell: powershell
        run: |
          $vulkanVersion = "1.3.290.0"
          $vulkanSdkUrl = "https://sdk.lunarg.com/sdk/download/$vulkanVersion/windows/VulkanSDK-$vulkanVersion-Installer.exe"
          $vulkanSdkInstaller = "VulkanSDK-Installer.exe"

          Write-Host "正在从 $vulkanSdkUrl 下载 Vulkan SDK"
          Invoke-WebRequest -Uri $vulkanSdkUrl -OutFile $vulkanSdkInstaller

          Write-Host "正在安装 Vulkan SDK..."
          Start-Process -FilePath $vulkanSdkInstaller -ArgumentList "/S" -Wait

          $vulkanPath = "C:\VulkanSDK\$vulkanVersion"
          Write-Host "正在为 $vulkanPath 设置环境变量"

          echo "VULKAN_SDK=$vulkanPath" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "$vulkanPath\Bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$vulkanPath\Lib" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$vulkanPath\Include" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: 配置 CMake
        run: cmake -B build -DGGML_VULKAN=ON -DCMAKE_BUILD_TYPE=Release

      - name: 构建
        run: cmake --build build --config Release -j 4

      - name: 复制 DLL 依赖
        shell: powershell
        run: |
          Copy-Item -Path "$env:VULKAN_SDK\Bin\glslc.exe" -Destination "build\bin\Release\"

      - name: 上传构建产物
        uses: actions/upload-artifact@v4
        with:
          name: whisper-windows-vulkan-binaries
          path: |
            build/bin/Release/*.exe
            build/bin/Release/*.dll

      - name: 压缩发布包
        if: inputs.release_tag != ''
        shell: powershell
        run: |
          Compress-Archive -Path build\bin\Release\* -DestinationPath whisper-windows-vulkan-${{ inputs.release_tag }}.zip

      - name: 创建 Release 发布
        if: inputs.release_tag != ''
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.release_tag }}
          files: whisper-windows-vulkan-${{ inputs.release_tag }}.zip
